// 引入字体
@import url("https://fontsapi.zeoseven.com/84/main/result.css");
@import url("https://fontsapi.zeoseven.com/46/main/result.css");
@font-face {
    font-family: "ZSFT-ak";
    src: url("https://fontsapi.zeoseven.com/ak/main.woff2") format('woff2'),
        url("https://fontsapi-storage.zeoseven.com/ak/main.woff2") format('woff2');
    font-display: swap;
}

:root {
  --var-font-family: "DouyinSans";
  --var-font-title: "YEFONTXiaoShiTou";
  --var-font-art: "ZSFT-ak";
  --var-color-background:  #f5f5f0;
  --var-color-text: #2f2f2b;
  --var-color-card: #ffffff;
  --var-color-shades: #8b8b87;
}