@import '@devui-design/icons/icomoon/devui-icon.css'; ;// 引入图标


body {
  background-image: linear-gradient(to right top, #fff5ff, #fff3fe, #fff0fc, #ffeefb, #ffebf9, #ffe9f5, #ffe6f1, #ffe4ed, #ffe1e5, #ffe0dc, #ffdfd3, #ffdfca);
}

.navbar {
  border-radius: 12px;
  background: transparent;
  text-align: center;
}