@import '@devui-design/icons/icomoon/devui-icon.css'; // 引入图标
@import 'devui-theme/styles-var/devui-var.scss'; // 引入主题变量
@import 'base.scss';


// 全局样式
#app {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  font-family: var(--var-font-family) !important;
  background-color: #f5f5f0;
  background-image: url('/src/assets/rice-paper.png');
  color: var(--var-color-text);
}

//头部样式
.dheader{
  padding-top: 50px;
  flex: 1;
}

// 主体样式
.dcontent{
  flex: 10;
}

// 底部样式
.dfooter{
  flex: 1;
}

// 卡片样式
.card {
  border:  solid 1px;
  background-color: 	rgb(191, 191, 186, 0.5);
  border-radius: $devui-border-radius-card;
  height: 30vh;
  box-shadow: $devui-shadow-length-base $devui-shadow;
  p {
    font-size: $devui-font-size;
  }
}

.card-large {
  box-shadow: $devui-shadow-length-feedback-overlay $devui-feedback-overlay-shadow;
}

.card-full {
  border-radius: $devui-border-radius-full;
}

.shadow {
  box-shadow: $devui-shadow-length-base;
}

.shadow-left {
  box-shadow: $devui-shadow-length-slide-left $devui-shadow;
}
